<div [@controls]='state' *ngIf="song" class="playControls">
  <div class="flex p0 playControls-wrapper">
    <div class="relative flex elements">
      <button [tooltip]="tooltipControler" [tooltipPlacement]="'top'" class="border-none ml2 play-control-icon previous" (mouseenter)="tooltipText = 'Pevious song'"
        (click)="soundManager.previous()"></button>
      <button [tooltip]="tooltipControler" [tooltipPlacement]="'top'" class="border-none ml2 play-control-icon {{soundManager.isPlaying() ? 'pause' : 'play'}}"
        (mouseenter)="tooltipText = soundManager.isPlaying() ? 'pause' : 'play'" (click)="soundManager.togglePlayPause(song)">
      </button>
      <button [tooltip]="tooltipControler" [tooltipPlacement]="'top'" class="border-none ml2 play-control-icon next" (mouseenter)="tooltipText = 'Next song'"
        (click)="soundManager.next()"></button>
      <button [tooltip]="tooltipControler" [tooltipPlacement]="'top'" class="border-none ml2 play-control-icon shuffle" (mouseenter)="tooltipText = 'Shuffle playlist'"
        (click)="soundManager.setShuffle()"></button>
      <button [tooltip]="tooltipControler" [tooltipPlacement]="'top'" class="border-none ml2 play-control-icon {{repeatOption[currentRepeatOption]}}"
        (mouseenter)="tooltipText = 'Loop ' + repeatOption[currentRepeatOption]" (click)="currentRepeatOption = (currentRepeatOption + 1) % 3; soundManager.setLoop()">
      </button>

      <!--TIMELINE-->
      <div class="flex flex-auto mx2 timeline">

        <div class="right-align time-passed">
          <span>{{timePassed()}}</span>
        </div>

        <div class="relative flex py2 mx2 progressWrapper">
          <div class="relative overflow-hidden progress-background" style="width: 560px">
            <div class="absolute progressBar" [style.width.%]="progressHandlerPosition()"></div>
          </div>
          <div [draggable] (onDrag)="updateTime($event)" class="absolute content-box c-pointer progressHandle" 
            [style.left.%]="progressHandlerPosition()"></div>
        </div>

        <div class="left-align c-pointer duration" (click)="showDuration = !showDuration">
          <span *ngIf="showDuration">{{song.durationStr}}</span>
          <span *ngIf="!showDuration" [innerHTML]="timeLeft()"></span>
        </div>

      </div>

      <!--VOLUME-->
      <div class="relative flex volume-balancer mr2" [class.muted]="soundManager.isMuted()" [class.expanded]="expanded" (mouseenter)="expanded = true"
        (mouseleave)="expanded = false">
        <button class="border-none ml2 play-control-icon volume" (click)="soundManager.toggleMute()"></button>
        <div class="absolute overflow-hidden sliderWrapper center-x">
          <div class="absolute center-x sliderBackground"></div>
          <div class="absolute center-x sliderProgress" [style.height.px]="soundManager.getVolume()"></div>
          <div [draggable] (onDrag)="updateVolume($event)" class="absolute center-x c-pointer content-box progressHandle sliderHandle"
            [style.top.px]="104 - soundManager.getVolume()"></div>
        </div>
      </div>

      <!--SONGINFO-->
      <div class="flex soundBadge">
        <div class="flex playbackSoundBadge">
          <img class="avatar" [src]="song.imagePath" title="{{song.name}}" width=30 height=30>
          <div class="mx2 contextContainer">
            <div class="truncate context-artist">{{song.artist}}</div>
            <div class="truncate context-title">{{song.name}}</div>
          </div>
        </div>
      </div>

      <tooltip-content #tooltipControler>
        <b><font color="#ffc520">{{tooltipText}}</font></b>
      </tooltip-content>

    </div>
  </div>
</div>