.playControls {
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0,0,0,.15);
  bottom: 0;
  height: 50px;
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
}

.playControls-wrapper {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}

.elements {
  align-items: center;
}

.play-control-icon {
  height: 24px;
  outline: 0;
  transition-duration: 0.3s;
  transition-property: transform;
  width: 24px;
}

.play-control-icon:hover {
  border: 1px solid #b6b6b6;
  opacity: 0.5;
  transform: scale(1.25);
}

.timeline {
  font-size: 11px;
}

.time-passed {
  color: #f50;
  width: 50px;
}

.duration {
  color: #333;
  width: 50px;
}

.progress-background {
  height: 2px;
  background-color: #ccc;
  width: 560px;
}

.progressBar {
  height: 2px;
  background-color: #f50;
  transition: transform 50ms;
  transform: translateX(-560px);
  width: 100%;
}

.progressHandle {
    background-color: #f50;
    border-radius: 50%;
    height: 8px;
    opacity: 0;
    transition: opacity 150ms;
    width: 8px;
}

.progressWrapper {
  align-items: center;
}

.progressWrapper:hover .progressHandle {
  opacity: 1;
}

.previous {
  background: url('../../assets/controls/previous.svg') no-repeat;
}

.next {
  background: url('../../assets/controls/next.svg') no-repeat;
}

.play {
  background: url('../../assets/controls/play.svg') no-repeat;
}

.pause {
  background: url('../../assets/controls/pause.svg') no-repeat;
}

.shuffle {
  background: url('../../assets/controls/shuffle.svg') no-repeat;   
}

.repeat {
  background: url('../../assets/controls/repeat.svg') no-repeat;   
}

.repeat-one {
  background: url('../../assets/controls/repeat-one.svg') no-repeat;   
}

.repeat-all {
  background: url('../../assets/controls/repeat-all.svg') no-repeat;   
}