.playControls {
  background-color: #f2f2f2;
  border-top: 1px solid rgba(0,0,0,.15);
  bottom: 0;
  height: 50px;
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
}

.playControls-wrapper {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}

.elements {
  align-items: center;
}

.play-control-icon {  
  height: 24px;
  outline: 0;
  padding: 0;
  transition-duration: 0.3s;
  transition-property: transform;
  width: 24px;
}

.play-control-icon:hover {
  border: 1px solid #b6b6b6;
  opacity: 0.5;
  transform: scale(1.25);
}

.elements {
  font-size: 11px;
}

.timeline {  
  height: 100%;
  align-items: center;
}

.time-passed {
  color: #f50;
  width: 50px;
}

.duration {
  color: #333;
  width: 50px;
}

.progress-background {
  height: 2px;
  background-color: #ccc;
  width: 560px;
}

.progressBar {
  height: 2px;
  background-color: #f50;
  transition: transform 50ms;
  width: 0%;
}

.progressHandle {
  background-clip: padding-box;
  background-color: #f50;  
  border-radius: 50%;
  border: 5px solid transparent;
  height: 8px;
  opacity: 0;
  transition: opacity 150ms;
  transform: translateX(-50%);
  width: 8px;
}

.progressWrapper {
  align-items: center;
}

.progressWrapper:hover .progressHandle {
  opacity: 1;
}

.sliderWrapper {
  bottom: 30px;
  width: 30px;
  height: 0;
  transition: height 100ms;
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.sliderWrapper:before {
  bottom: -10px;
  border: 5px solid #000;
  border-color: transparent transparent #ccc #ccc;
  box-shadow: -3px 3px 4px rgba(0,0,0,.1);
  box-sizing: border-box;
  content: '';
  left: 8px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.sliderWrapper:after {
  border: 4px solid #000;
  border-color: transparent transparent #f2f2f2 #f2f2f2;
  bottom: -8px;
  box-sizing: border-box;
  content: '';
  left: 9px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.volume-balancer {
  height: 100%;
  align-items: center;
}

.volume-balancer.expanded .sliderWrapper {
  background-clip: padding-box;
  border-color: #ccc;
  border: 10px solid transparent;
  box-sizing: content-box;  
  overflow: initial;
  height: 125px;    
}

.sliderBackground { 
  background-color: #ccc;
  bottom: 13px;
  height: 100px;
  width: 2px;
}

.sliderProgress {
  background: #f50;
  bottom: 13px;
  width: 2px;
}

.sliderHandle {
  opacity: 1;
}

.soundBadge {
  box-sizing: border-box;
  width: 360px;
  height: 48px;
  padding: 0 8px;
}

.soundBadge .avatar {
  border: 1px solid rgba(0,0,0,.1);
}

.playbackSoundBadge {  
  align-items: center;
}

.contextContainer {
  width: 250px;
  line-height: 1.5em;
  flex-grow: 1;
}

.context-artist {
  color: #999;
}

.context-title {
  color: #000;
}

.previous {
  background: url('../../assets/controls/previous.svg') no-repeat;
}

.next {
  background: url('../../assets/controls/next.svg') no-repeat;
}

.play {
  background: url('../../assets/controls/play.svg') no-repeat;
}

.pause {
  background: url('../../assets/controls/pause.svg') no-repeat;
}

.shuffle {
  background: url('../../assets/controls/shuffle.svg') no-repeat;   
}

.repeat {
  background: url('../../assets/controls/repeat.svg') no-repeat;   
}

.repeat-one {
  background: url('../../assets/controls/repeat-one.svg') no-repeat;   
}

.repeat-all {
  background: url('../../assets/controls/repeat-all.svg') no-repeat;   
}

.volume {
  background: url('../../assets/controls/volume.svg') no-repeat;   
}

.muted .volume {
  background: url('../../assets/controls/volume-muted.svg') no-repeat;   
}