<div *ngIf="song" class="playControls">
  <div class="flex p0 playControls-wrapper">
    <div class="relative flex elements">
      <button class="border-none ml2 play-control-icon previous"></button>
      <button class="border-none ml2 play-control-icon play"></button>
      <button class="border-none ml2 play-control-icon next"></button>
      <button class="border-none ml2 play-control-icon shuffle"></button>
      <button class="border-none ml2 play-control-icon repeat"></button>

      <!--TIMELINE-->
      <div class="flex flex-auto mx2 timeline">

        <div class="right-align time-passed">
          <span>{{timePassed()}}</span>
        </div>

        <div class="relative flex mx2 progressWrapper" role="progressbar" data-valuemax="201370" data-valuenow="9251.682">
          <div class="relative overflow-hidden progress-background" style="width: 560px">
            <div class="absolute progressBar"></div>
          </div>
          <div class="absolute c-pointer progressHandle" style="left: 24px;"></div>
        </div>

        <div class="left-align c-pointer duration" (click)="showDuration = !showDuration">
          <span *ngIf="showDuration">{{song.durationStr}}</span>
          <span *ngIf="!showDuration" [innerHTML]="timeLeft()"></span>
        </div>

      </div>



      <!--SONGINFO-->
      <!--<div class="playControls__soundBadge">
          <div class="playbackSoundBadge m-hasQueue paused">
            <a href="/jack-and-the-weatherman/jack-and-the-weatherman-till-the-sun-comes-up" class="playbackSoundBadge__avatar sc-media-image"
              tabindex="-1">
              <div class="image m-sound image__lightOutline readOnly customImage sc-artwork sc-artwork-placeholder-0 m-loaded" style="height: 30px; width: 30px;"><span style="background-image: url(&quot;https://i1.sndcdn.com/artworks-000210141179-vb5ttg-t50x50.jpg&quot;); width: 30px; height: 30px; opacity: 1;"
                  class="sc-artwork sc-artwork-placeholder-0  image__full g-opacity-transition" aria-label="Jack And The Weatherman - Till The Sun Comes Up"
                  aria-role="img"></span>
              </div>
            </a>
            <div class="playbackSoundBadge__titleContextContainer">
              <a href="/jack-and-the-weatherman" class="playbackSoundBadge__lightLink sc-link-light sc-truncate" title="JackandtheWeatherman">JackandtheWeatherman</a>
              <div class="playbackSoundBadge__title">
                <a href="/jack-and-the-weatherman/jack-and-the-weatherman-till-the-sun-comes-up" class="playbackSoundBadge__titleLink sc-truncate"
                  title="Jack And The Weatherman - Till The Sun Comes Up">
        <span class="sc-visuallyhidden">Current track: Jack And The Weatherman - Till The Sun Comes Up</span><span aria-hidden="true">Jack And The Weatherman - Till The Sun Comes Up</span>
      </a>
              </div>
            </div>
          </div>
        </div>-->


    </div>
  </div>
</div>