:host() {
  flex: 1 1 auto;
}

.left-layer {
  flex-flow: column nowrap;
}

.body {
  flex: 1 1 auto;
}

.header button {
  width: 150px;
}

.footer {
}

.left-arrow {
  background: url('../../assets/btns/next-arrow.svg') no-repeat;
}

.tiles {
  background: url('../../assets/btns/tiles.svg') no-repeat;
}

.playlist {
  background: url('../../assets/btns/playlist.svg') no-repeat;
}