:host() {
  flex: 1 1 auto;
}

.left-layer {
  flex-flow: column nowrap;
}

.body {
  flex: 1 1 auto;
  max-height: 80vh;
}

.search-input {
  text-indent: 10px;
}

.header button {
  width: 150px;
}

.left-arrow {
  background: url('../../assets/btns/next-arrow.svg') no-repeat;
}

.tiles {
  background: url('../../assets/btns/tiles.svg') no-repeat;
}

.playlist {
  background: url('../../assets/btns/playlist.svg') no-repeat;
}