.table-inverse {
  background-color: #292b2c;
  color: whitesmoke;;
}

.song-wrapper {
  background-color: transparent;
  transform: translateX(0px);
  transition-duration: 0.5s;
  transition-property: background, transform;
}

.song-wrapper:hover {
  background-color: #e2e2e2;
  color: #292b2c;
  text-decoration: underline;
  transform: translateX(10px);
}