:host() {
  display: block;
}

.table-inverse {
  background-color: #292b2c;
}

.song-wrapper {
  background-color: transparent;
  transform: translateX(0px);
  transition-duration: 0.5s;
  transition-property: background, transform;
}

.song-wrapper:hover {
  background-color: #e2e2e2;
  color: #292b2c;
}

.song-wrapper.selected {
  background-color: #6f6f6f;
  color: #bcbcbc;
}