:host() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.router-outlet-wrapper {
  height: 100%;
  padding: 10px;
}

.main-page {
  height: 100%;
}

.canvas {
  background-color: #565656;
  height: 100%;
}