<div class="container">
  <div *ngFor="let playlistItem of playlist; let i = index" class="play-list-container c-pointer" (click)="mediaPlayerService.setSelectedSong(playlistItem);">
    <div class="flex info">
      <div class="relative img icon playing">
        <img height="60" width="60" [src]="playlistItem.imagePath">
      </div>
      <div class="ml2 titles">
        <h5>{{playlistItem.name}}</h5>
        <p>{{playlistItem.artist}}</p>
      </div>
    </div>
    <div class="flex state">
      <a *ngFor="let star of starts" class="icon stars"></a>
      <a class="mx3 pl2 icon remove" (click)="removeFromPlaylist(i);"></a>
    </div>
  </div>
</div>