:host() {
  height: 100%;
}

.play-list-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.info {
  align-items: center;
}

.info .img {
  background-position: center center;
  background-size: cover;
  color: transparent;
  height: 60px;
  width: 60px;
}

.play-list-container:hover {
  background-color: #e2e2e2;
  color: #292b2c;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.play-list-container:hover .info .img {
  color: black;
}

.playing::after {
  content: '\f04b';  
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d( -50%, -50%, 0);
}

.stars {
  width: 20px;
}

.stars::after {
  content: '\f006';
}

.icon.remove {
  box-sizing: content-box;
  border-left: 1px solid #ddd;
}

.remove::after {
  content: '\f1f8';
}
 