<div class="container">
  <div *ngFor="let playlistItem of playlist; let i = index" class="play-list-container c-pointer" (click)="mediaPlayerService.setSelectedSong(playlistItem);">
    <div class="flex info">
      <div class="relative img icon playing">
        <img height="60" width="60" [src]="playlistItem.imagePath">
      </div>
      <div class="ml2 titles">
        <h5>{{playlistItem.name}}</h5>
        <p>{{playlistItem.artist}}</p>
      </div>
    </div>
    <div class="flex state" (mouseleave)="starHover = -1">
      {{playlistItem.rating}}
      <svg *ngFor="let star of starts; let j = index" (mouseover)="starHover = j" (click)="setRating(i, j)" class="icon star" [class.hover]="j <= playlistItem.rating" 
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <polygon points="25 5  30 25  45 25  35 35  40 50  25 40  10 50  15 35  5 25  20 25" stroke-width="4"
        />
      </svg>
      <a class="mx3 pl2 icon remove" (click)="removeFromPlaylist(i);"></a>

    </div>
  </div>
</div>