<nav class="left overflow-hidden navbar-default">
    <div class="menu" [class.expanded]="menuIsOpen">
        <div class="header">
            <a [routerLink]="['']" class="block center bold nowrap">Home page</a>
        </div>
        <hr class="seperator">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a [routerLink]="['music-player']">Music player</a></li>
                <li routerLinkActive="active"><a [routerLink]="['wiki']">Wikipedia</a></li>
                <li routerLinkActive="active"><a [routerLink]="['about']">About</a></li>
            </ul>
        </div>
    </div>
    <div class="relative c-pointer expand-collapse-section" [class.expand]="menuIsOpen" (click)="menuIsOpen = !menuIsOpen;">
        <div class="absolute center-y">
            <svg viewBox="0 0 40 40">
                <polygon points="10,1 30,19 10,38 10,1" style="fill:gray;stroke:black;stroke-width:1" />
            </svg>
        </div>
    </div>
</nav>