<nav class="left overflow-hidden left-menu">
    <div class="menu" [class.expanded]="menuIsOpen">
        <div class="flex header">
            <a [routerLink]="['']" class="inline-block mx2 icon homepage"></a>
            <a [routerLink]="['']" class="center bold nowrap">Home page</a>
        </div>
        <hr class="seperator">
        <div class="block flex">
            <ul class="flex-auto nav">
                <li class="my1" routerLinkActive="active"><a [routerLink]="['music-player']">Music player</a></li>
                <li class="my1" routerLinkActive="active"><a [routerLink]="['wiki']">Wikipedia</a></li>
                <li class="my1" routerLinkActive="active"><a [routerLink]="['about']">About</a></li>
            </ul>
        </div>
    </div>
    <div class="relative c-pointer expand-collapse-section" [class.expand]="menuIsOpen" (click)="menuIsOpen = !menuIsOpen;">
        <div class="absolute center-y">
            <svg viewBox="0 0 40 40">
                <polygon points="10,1 30,19 10,38 10,1" style="fill:gray;stroke:black;stroke-width:1" />
            </svg>
        </div>
    </div>
</nav>