<nav class="left overflow-hidden left-menu">
    <div class="flex menu" [class.expanded]="menuIsOpen">
        <div class="flex my2 header" [routerLink]="['']" >
            <a class="inline-block pl2 mr3 icon homepage"></a>
            <a class="center bold nowrap">Home page</a>
        </div>
        <hr class="seperator">
        <div class="flex flex-auto main-nav">
            <ul class="flex-auto navigator">
                <li [routerLink]="['search']" routerLinkActive="active">
                    <a class="icon mr3 search"></a>
                    <a class="flex-auto">Search</a>
                </li>
                <li [routerLink]="['wiki']" routerLinkActive="active">
                    <a class="icon mr3 wikipedia"></a>
                    <a class="flex-auto">Wikipedia</a>
                </li>
                <li [routerLink]="['contact']" routerLinkActive="active">
                    <a class="icon mr3 contact"></a>
                    <a class="flex-auto">Contact</a>
                </li>
                <li [routerLink]="['about']" routerLinkActive="active">
                    <a class="icon mr3 about"></a>
                    <a class="flex-auto">About</a>
                </li>
            </ul>

            <ul class="navigator">
                <template [ngIf]="!authService.isAuthenticated()">
                    <li [routerLink]="['sign-in']" routerLinkActive="active">
                        <a class="icon mr3 log-in"></a>
                        <a class="flex-auto">Login</a>
                    </li>
                    <li [routerLink]="['sign-up']" routerLinkActive="active">
                        <a class="icon mr3 register"></a>
                        <a class="truncate">Register</a>
                    </li>
                </template>
                <template [ngIf]="authService.isAuthenticated()">
                    <li [routerLink]="['playlist']" routerLinkActive="active">
                        <a class="icon mr3 play-list"></a>
                        <a class="truncate">Playlist</a>
                    </li>
                    <li [routerLink]="['search-history']" routerLinkActive="active">
                        <a class="icon mr3 history"></a>
                        <a class="truncate">Search History</a>
                    </li>
                    <li (click)="logOut()">
                        <a class="icon mr3 log-out"></a>
                        <a class="truncate">Log out</a>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    <div class="relative c-pointer expand-collapse-section" [class.expand]="menuIsOpen" (click)="menuIsOpen = !menuIsOpen;">
        <div class="absolute center-y">
            <svg viewBox="0 0 40 40">
                <polygon points="10,1 30,19 10,38 10,1" style="fill:gray;stroke:black;stroke-width:1" />
            </svg>
        </div>
    </div>
</nav>