.left-menu {
  color: whitesmoke;
  height: 100%;
  background: #565656;
}

.header {
  height: 50px;
  align-items: center;
}

.navigator li {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 10px 0;
  padding-left: 8px;
}

.navigator li.active {
  background-color: #bebebe;
  color: #4b4b4b;
}

.navigator li:hover {
  background-color: #eee;
  color: #565656;
}

.menu {
  flex-flow: column nowrap;
  height: 100%;
  transition-property: width;
  transition-duration: 1s;
  width: 40px;
}

.menu.expanded {
  width: 190px;
}

.left-menu > div {
  height: 100%;
  float: left;
}

.main-nav {  
  flex-flow: column nowrap;
}

.expand-collapse-section {
  box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.75);
  width: 10px;
  background: #e4e4e4;
}

.expand .center-y svg {
  transform: rotate(180deg);
}

.center-y {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.main-nav .nav li {
  display: flex;
  align-items: center;
}

.main-nav .icon {
  padding: 0;
}

.homepage::after {
  content: '\f015';
}

.search::after {
  content: '\f002';
}

.contact::after {
  content: '\f007';
}
 
.about::after {
  content: '\f05a';
}

.wikipedia::after {
  content: '\f266';
}

.log-in::after {
  content: '\f090';
}

.history::after {
  content: '\f1da';
}

.play-list::after {
  content: '\f0ca';
}

.register::after {
  content: '\f25d';
}

.log-out::after {
  content: '\f08b';
}