/* You can add global styles to this file, and also import other style files */
body {
  color: whitesmoke;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: awesomeFonts;
  src: url('./assets/fontawesome.woff2');
}

input, textarea {
  background-color: #292b2c;
}

input.form-control:focus {
  outline: none;
  background-color: whitesmoke;
  color: #555;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.column-nowrap {
  flex-flow: column nowrap;
}

.disabled:active {
  pointer-events: none;
}

.navigator {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
}

hr {
  margin: 0 5px;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon::after, .icon::before {
  display: block;
  font-family: awesomeFonts;
  font-size: 20px;
  height: inherit;
  text-align: center;
}

input.icon {
  width: auto;
}

.c-pointer {
  cursor: pointer; 
}

.center-x {
  left: 50%;
  transform: translateX(-50%);
}

.center-y {
  top: 50%;
  transform: translateY(-50%);
}