/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled:active {
  pointer-events: none;
}

a {
  cursor: pointer;
  color: inherit;
}

a:focus, a:hover {
  text-decoration: none;
}

hr {
  margin: 0 5px;
}

.icon {
  height: 30px;
  width: 30px;
}

.c-pointer {
  cursor: pointer; 
}